<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>Address</servlet-name>
		<servlet-class>odata_service_v4.Address</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Address</servlet-name>
		<url-pattern>/Address.svc/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Address_V2</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.olingo.odata2.service.factory</param-name>
			<param-value>odata_service_v2.AddressServiceFactory</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Address_V2</servlet-name>
		<url-pattern>/Address_V2.svc/*</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>

	<login-config>
		<auth-method>XSUAA</auth-method>
	</login-config>

</web-app>
